In [18]:
# https://pypi.org/project/exif/
# pip install exif

# https://pypi.org/project/pymediainfo/
# pip install pymediainfo

In [1]:
import pandas as pd
# import PIL.Image
from exif import Image
from pprint import pprint
from pymediainfo import MediaInfo
from pathlib import Path
import numpy as np
import os
import re
import numpy as np
import json
from shutil import copy2

In [2]:
# path = r'G:\Google Photo_extr\Takeout\Google Фото'
# path = Path(r'G:\Google Photo_extr\Takeout\Google Фото')
# path = Path(r'D:\Рабочая\!_Scripts\change_file_creation_time')
# path = Path('G:/temp/Тест фото')
path = Path('E:\Тест фото')

In [18]:
def get_file_table(dir_path):
    '''
    функция создаёт датафрэйм по всем файлам указанным в директории
    датафрэйм имеет три колонки: название файла, расшерение, путь
    '''
    df = pd.DataFrame(columns=['name', 'extension', 'path'])
    path = Path(dir_path)
    for file in path.glob('**/*.*'):
        if file.is_file():
            name = file.stem
            extension = file.suffix.lower()
            full_path = file
            df.loc[len(df)] = [name, extension, full_path]
    return df

In [4]:
def get_photo_exif_date(full_path):
    """
    функция получает на вход полный путь к файлу картинки и возвращает кортеж из трёх дат получинных из exif:
        (datetime, datetime_original, datetime_digitized)
    """
    try:
        with open(full_path, 'rb') as image_file:
            my_image = Image(image_file)
    except Exception as err:
        print(full_path.stem, err)
        
    # паттерн для перевода дат в нужный формат (дата) (время)
    fpattern = re.compile('(\d\d\d\d:\d\d:\d\d) (\d\d:\d\d:\d\d)') 
    
    # считываем 3 даты из файла
    try:
        datetime = my_image.datetime
        # переводим даты в формат времени по шаблону выше
        datetime = pd.to_datetime(
                    fpattern
                        .findall(datetime)[0][0]
                        .replace(':','-') 
                    + ' ' + 
                    fpattern
                        .findall(datetime)[0][1]
                   )
    except:
        datetime = np.nan
    
    try:
        datetime_original = my_image.datetime_original
        datetime_original = pd.to_datetime(
                    fpattern
                        .findall(datetime_original)[0][0]
                        .replace(':','-') + ' ' + fpattern
                        .findall(datetime_original)[0][1]
                   )
    except:
        datetime_original = np.nan
    
    try:
        datetime_digitized = my_image.datetime_digitized
        datetime_digitized = pd.to_datetime(
                    fpattern
                        .findall(datetime_digitized)[0][0]
                        .replace(':','-') + ' ' + fpattern
                        .findall(datetime_digitized)[0][1]
                    )
    except:
        datetime_digitized = np.nan
        
    return datetime, datetime_original, datetime_digitized

In [11]:
# def get_video_exif_date_old(full_path):
#     """
#     функция получает на вход полный путь к файлу и возвращает дату создания
#     """
#     media_info = MediaInfo.parse(full_path)
#     for track in media_info.tracks:
#         if track.track_type == "Video":
#             try:
#                 exif_vdata = track.to_data()
#                 vdata = exif_vdata['tagged_date']

#                 # часовой пояс
#                 time_zone = pd.to_timedelta(7, unit='h')

#                 vdata = pd.to_datetime(vdata[4:]) + time_zone
#                 return vdata
#             except:
#                 return np.nan

In [53]:
def get_video_exif_date(full_path):
    '''
    функция вытаскивает даты создания видео файла;
    ищет три тега в exif: 'tagged_date', 'encoded_date', 'mastered_date';
    возвращает кортеж из трёх этих элементов;
    если какой-то из них не существует - ставит на его место в кортеже np.nan
    требуется установка библиотеки: pip install pymediainfo
    импорт: from pymediainfo import MediaInfo
    на ПК должна быть установлена программа MediaInfo
    '''
    media_info = MediaInfo.parse(full_path)
    for track in media_info.tracks:
        if track.track_type == "General":
            exif_vdata = track.to_data()
    
    # часовой пояс
    time_zone = pd.to_timedelta(7, unit='h')
    
    # вытаскиваем тег tagged_date, в формате UTS - прибавляем часовой пояс
    try:
        tag_date = exif_vdata['tagged_date']
        tag_date = pd.to_datetime(tag_date[4:]) + time_zone
    except:
        tag_date = np.nan

    # вытаскиваем encoded_date, в формате UTS - прибавляем часовой пояс
    try:
        enc_date = exif_vdata['encoded_date']
        enc_date = pd.to_datetime(enc_date[4:]) + time_zone
    except:
        enc_date = np.nan

    # вытаскиваем тег mastered_date, здесь время местное, часовой пояс не прибавляем
    try:
        mast_date = exif_vdata['mastered_date']
        # (день недели) (месяц) (день) (время) (год)
        pattern = re.compile('([A-Z][A-Z][A-Z]) ([A-Z][A-Z][A-Z]) (\d\d) (\d\d:\d\d:\d\d) (\d\d\d\d)')  
        date_list = pattern.findall(mast_date)
        month_dic = {
                     'JAN': '01', 
                     'FEB': '02', 
                     'MAR': '03',
                     'APR': '04',
                     'MAY': '05',
                     'JUN': '06',
                     'JUL': '07',
                     'AUG': '08',
                     'SEP': '09',
                     'OCT': '10',
                     'NOV': '11',
                     'DEC': '12'
                    }
        mast_date = (
            date_list[0][4]                             # год 
            + '-' + 
            date_list[0][1]                             # месяц с заменой буквеннгого обозначения на числовое
                .replace(date_list[0][1]
                         , month_dic[date_list[0][1]]) 
            + '-' + 
            date_list[0][2]                             #  день 
            + ' ' + 
            date_list[0][3]                             # время
        )
        mast_date = pd.to_datetime(mast_date)           # переводим в формат времени
    except:
        mast_date = np.nan

    return tag_date, enc_date, mast_date

In [5]:
# ищем год в названии файла
def get_year_name(full_path):
    pattern = re.compile('(20\d\d)[^0-9]')
    years = pattern.findall(full_path)
    if len(years) > 0:
        return ' '.join(years)
    else:
        return np.nan

In [71]:
# ищем год в названии файла фото WhatsApp
def get_whatsapp_date(full_path):
    '''
    функция вычленяет дату из названия файла картинки WhatsApp
    в формат времени не переводит (пока)
    '''
    pattern = re.compile('(WhatsApp Image )(20\d\d-\d\d-\d\d)( at )(\d\d.\d\d.\d\d)')
    whatsapp_date = pattern.findall(full_path)
    if len(whatsapp_date) > 0:
        return whatsapp_date[0][1] + ' ' + whatsapp_date[0][3].replace('.', ':')
    else:
        return np.nan

In [6]:
# извлекаем дату из json файла
def get_json_date(full_path):
    try:
        json_path = str(full_path) + '.json'
        with open(json_path) as json_file:
            json_data = json.load(json_file)
    except Exception as err:
        print(json_path, err)
    
    # часовой пояс
    time_zone = pd.to_timedelta(7, unit='h')
    
    # извлекаем время из json, два варианта
    try:    
        video_creation_time = pd.to_datetime(json_data["creationTime"]['timestamp'], unit='s') + time_zone
    except:
        video_creation_time = np.nan
    try:
        video_taken_time = pd.to_datetime(json_data["photoTakenTime"]["timestamp"], unit='s') + time_zone
    except:
        video_taken_time = np.nan
        
    return video_creation_time, video_taken_time

In [19]:
%%time
# сначала получим весь список файлов, расшерений и путей
df = get_file_table(path)

Wall time: 5min 9s

In [20]:
df.extension.value_counts()

.json    31740
.jpg     28857
.mp4      2132
.mts       516
.jpeg       56
.avi        41
.nef        40
.mov        38
.3gp        19
.gif        13
.png         6
.mpg         3
.bmp         3
.mkv         1
Name: extension, dtype: int64

In [ ]:
ext_list = ['.jpeg', '.avi', '.nef', '.mov', '.3gp', '.gif', '.png', '.mpg', '.mpg', '.bmp', '.mkv']
base_goal_patch = 'G:/'
for x in ext_list:
    for file_path in  df.query('extension == @x').path:
        if not os.path.exists('DXF'):                                           # создаём папку DXF, если она не существует
            os.makedirs(x[1:])

            
            
# доделать....

In [25]:
ext = '.jpeg'
goal_patch = r'G:\jpeg'
for file_path in  df.query('extension == @ext').path:
    copy2(file_path
          , goal_patch +'/' + file_path.stem + ext)

In [ ]:
ext = '.avi'
goal_patch = r'G:\avi'
for file_path in  df.query('extension == @ext').path:
    copy2(file_path
          , goal_patch +'/' + file_path.stem + ext)

In [26]:
ext = '.nef'
goal_patch = r'G:\nef'
for file_path in  df.query('extension == @ext').path:
    copy2(file_path
          , goal_patch +'/' + file_path.stem + ext)

In [27]:
ext = '.mov'
goal_patch = r'G:\mov'
for file_path in  df.query('extension == @ext').path:
    copy2(file_path
          , goal_patch +'/' + file_path.stem + ext)

In [28]:
ext = '.3gp'
goal_patch = r'G:\3gp'
for file_path in  df.query('extension == @ext').path:
    copy2(file_path
          , goal_patch +'/' + file_path.stem + ext)

In [74]:
get_whatsapp_date('E:\Тест фото\jpeg\WhatsApp Image 2021-06-30 at 23.03.53.jpeg')

'2021-06-30 23:03:53'

In [69]:
# пробуем извлечь exif из разных типов фото файлов
ext = '.nef'
photo_df = pd.DataFrame(columns=['name', 'datetime', 'datetime_original','datetime_digitized'])
for file_path in path.glob('**/*' + ext):
    if file_path.is_file():
        try:
            ls = get_photo_exif_date(file_path)
            photo_df.loc[len(photo_df)] = [file_path.stem, ls[0], ls[1], ls[2]]
        except Exception as err:
            print(file_path.stem, err)

In [70]:
photo_df

        name datetime   datetime_original datetime_digitized
0   DSC_0009      NaN 2012-03-12 21:22:18                NaN
1   DSC_0011      NaN 2012-03-12 21:22:20                NaN
2   DSC_0012      NaN 2012-03-12 21:22:48                NaN
3   DSC_0016      NaN 2012-03-12 21:23:15                NaN
4   DSC_0035      NaN 2012-03-12 21:30:02                NaN
5   DSC_0053      NaN 2012-03-14 18:46:24                NaN
6   DSC_0054      NaN 2012-03-14 18:46:45                NaN
7   DSC_0055      NaN 2012-03-14 18:46:52                NaN
8   DSC_0060      NaN 2012-03-14 18:47:41                NaN
9   DSC_0063      NaN 2012-03-14 18:48:31                NaN
10  DSC_0064      NaN 2012-03-14 18:48:55                NaN
11  DSC_0065      NaN 2012-03-14 18:49:04                NaN
12  DSC_0069      NaN 2012-03-14 19:12:15                NaN
13  DSC_0072      NaN 2012-03-14 19:14:03                NaN
14  DSC_0073      NaN 2012-03-14 19:14:07                NaN
15  DSC_0074      NaN 2012-03-14 19:14:14                NaN
16  DSC_0075      NaN 2012-03-14 19:14:19                NaN
17  DSC_0077      NaN 2012-03-14 19:14:54                NaN
18  DSC_0078      NaN 2012-03-14 19:14:55                NaN
19  DSC_0080      NaN 2012-03-14 19:38:56                NaN
20  DSC_0255      NaN 2012-03-08 11:53:57                NaN
21  DSC_0256      NaN 2012-03-08 11:55:28                NaN
22  DSC_0257      NaN 2012-03-08 11:55:40                NaN
23  DSC_0260      NaN 2012-03-08 11:59:01                NaN
24  DSC_0261      NaN 2012-03-08 11:59:58                NaN
25  DSC_0264      NaN 2012-03-08 12:00:01                NaN
26  DSC_0269      NaN 2012-03-08 12:00:03                NaN
27  DSC_0273      NaN 2012-03-08 12:00:28                NaN
28  DSC_0274      NaN 2012-03-08 12:00:36                NaN
29  DSC_0291      NaN 2012-03-08 12:02:51                NaN
30  DSC_0295      NaN 2012-03-08 13:01:00                NaN
31  DSC_0303      NaN 2012-03-08 13:12:34                NaN
32  DSC_0306      NaN 2012-03-08 13:13:35                NaN
33  DSC_0307      NaN 2012-03-08 13:16:25                NaN
34  DSC_0312      NaN 2012-03-08 13:18:45                NaN
35  DSC_0316      NaN 2012-03-08 13:46:12                NaN
36  DSC_0319      NaN 2012-03-08 13:48:09                NaN
37  DSC_0320      NaN 2012-03-08 13:48:29                NaN
38  DSC_0325      NaN 2012-03-08 13:50:37                NaN
39  DSC_0330      NaN 2012-03-08 13:57:28                NaN

In [60]:
# пробуем извлечь exif из разных типов видео файлов
ext = '.avi'
video_df = pd.DataFrame(columns=['name', 'tag_date', 'enc_date', 'mast_date'])
for file_path in path.glob('**/*' + ext):
    if file_path.is_file():
        try:
            ls = get_video_exif_date(file_path)
            video_df.loc[len(video_df)] = [file_path.stem, ls[0], ls[1], ls[2]]
        except Exception as err:
            print(file_path.stem, err)

In [61]:
video_df

          name            tag_date            enc_date            mast_date
0     MVI_0278 2016-07-24 13:21:29 2016-07-24 13:21:29                  NaN
1     MVI_0279 2016-07-24 13:21:46 2016-07-24 13:21:46                  NaN
2     MVI_0280                 NaT                 NaT  2009-04-04 16:33:54
3     MVI_0561                 NaT                 NaT  2011-06-28 17:21:32
4     MVI_0659                 NaT                 NaT  2011-06-29 18:01:25
5     MVI_0741                 NaT                 NaT  2011-07-03 17:57:28
6     MVI_0787 2016-07-24 15:37:37 2016-07-24 15:37:37                  NaN
7     MVI_0809                 NaT                 NaT  2011-07-05 20:22:35
8     MVI_0810                 NaT                 NaT  2011-07-05 20:23:16
9     MVI_0816                 NaT                 NaT  2009-07-08 12:26:21
10    MVI_0959                 NaT                 NaT  2011-07-07 20:27:05
11    MVI_1009                 NaT                 NaT  2011-07-08 16:33:25
12    MVI_1011                 NaT                 NaT  2011-07-08 16:38:00
13    MVI_1012                 NaT                 NaT  2011-07-08 16:39:22
14    MVI_1174                 NaT                 NaT  2011-12-28 14:38:29
15    MVI_1233                 NaT                 NaT  2011-07-19 19:16:57
16    MVI_1454                 NaT                 NaT  2009-10-03 14:03:52
17    MVI_2438                 NaT                 NaT  2010-05-25 08:51:12
18    MVI_2786                 NaT                 NaT  2011-08-26 16:15:46
19    MVI_2792                 NaT                 NaT  2011-08-27 13:53:26
20    MVI_2793                 NaT                 NaT  2011-08-27 13:58:32
21    MVI_2795                 NaT                 NaT  2011-08-27 14:12:24
22    MVI_2995                 NaT                 NaT  2010-07-27 16:40:38
23    MVI_3029                 NaT                 NaT  2010-07-28 16:31:04
24    MVI_3030                 NaT                 NaT  2010-07-28 16:35:53
25    MVI_3035                 NaT                 NaT  2010-07-28 17:06:46
26    MVI_3089                 NaT                 NaT  2010-07-30 19:34:34
27  MVI_3177_1                 NaT                 NaT  2011-05-02 13:50:18
28    MVI_3178 2016-07-24 15:43:25 2016-07-24 15:43:25                  NaN
29    MVI_3182 2016-07-24 15:43:21 2016-07-24 15:43:21                  NaN
30    MVI_3430                 NaT                 NaT  2011-05-27 17:45:41
31    MVI_3864                 NaT                 NaT  2011-05-30 16:16:59
32    MVI_4139                 NaT                 NaT  2011-06-11 17:13:45
33    MVI_5331                 NaT                 NaT  2010-10-22 08:50:35
34    MVI_5538                 NaT                 NaT  2010-10-29 13:05:34
35    MVI_5680                 NaT                 NaT  2010-11-03 21:17:32
36    MVI_5681                 NaT                 NaT  2010-11-03 21:19:58
37    MVI_5992                 NaT                 NaT  2010-11-20 18:42:58
38    MVI_5993                 NaT                 NaT  2010-11-20 18:45:10
39    MVI_7292                 NaT                 NaT  2010-12-30 12:54:53
40  MVI_7359_1                 NaT                 NaT  2010-12-30 17:08:55

In [67]:
video_df[video_df.tag_date.isna() & video_df.mast_date.isna()]

Empty DataFrame
Columns: [name, tag_date, enc_date, mast_date]
Index: []

In [24]:
# в некоторых .avi нет даты кодирования, но есть 'mastered_date'
media_info = MediaInfo.parse(r'E:\Тест фото\avi\MVI_0280.avi')
exif_vdata = media_info.to_data()
exif_vdata['tracks'][0]['mastered_date']

'SAT APR 04 16:33:54 2009'

In [44]:
get_video_exif_date(r'E:\Тест фото\avi\MVI_0280.avi')

(nan, nan, '2009-04-04 16:33:54')

Для каждого расширения видео файла проверить имеется ли хотя бы одна дата из трёх (найти пропуски всех трёх)

В файлах WhatsApp нет метаданных. Необходимо брать дату из названия файла
WhatsApp Image 2021-06-30 at 22.30.21.jpeg

Для файлов '.nef' доступна только datetime_original
Необходимо проверить существуют ли копии этих файлов в других форматах (jpeg, jpg,...)

Посмотреть какие из файлов jpg не имеют метаданные (дома)

Посмотреть gif


Файлы '.3gp' - нормально извлекается дата функцией get_video_exif_date()

для всех видео проверить вовсех ли датах присутствует  UTC
pattern = re.compile('(\d\d\d\d-\d\d-\d\d \d\d:\d\d:\d\d)')
UTC 2015-07-02 08:52:32

Проверить что есть в json-файлах

E:\Тест фото\avi\MVI_0278.avi  - посмотреть дату кодирования

In [39]:
# списки расширений для видео и фото
# video_ext = np.array(['.mp4', '.mts', '.avi', '.mov', '.3gp', '.mpg', '.mkv'])
# photo_ext = np.array(['.jpg', '.jpeg', '.nef', '.gif', '.png', '.bmp'])

video_ext = np.array(['.mp4', '.mts'])
photo_ext = np.array(['.jpg', '.jpeg'])

In [40]:
%%time
df = pd.DataFrame(columns=['name', 'extension', 'path', 
                           'video_exif_date', 
                           'photo_date', 'photo_date_orig', 'photo_date_dig', 
                           'json_creation_time', 'json_taken_time',
                           'year_from_name'])

for file_path in path.glob('**/*.*'):
    # условие, чтобы элемент был файлом с расшерением видео или фото
    if file_path.is_file() and (file_path.suffix.lower() in video_ext or file_path.suffix.lower() in photo_ext):
        
        # обнуляем все значения, чтобы не записывались старые
        video_exif_date, photo_date, photo_date_orig, photo_date_dig, json_creation_time, json_taken_time, year_from_name = (np.nan,) * 7
        
        # имя файла
        name = file_path.stem
        # расшерение файла
        extension = file_path.suffix.lower()
        
        # если видео
        if file_path.suffix.lower() in video_ext:
            video_exif_date = get_video_exif_date(file_path)
#             # из json
#             json_creation_time, json_taken_time = get_json_date(file_path)
#             # из названия файла
#             year_from_name = get_year_name(name)
            
        # если фото
        elif file_path.suffix.lower() in photo_ext:
            photo_date, photo_date_orig, photo_date_dig = get_photo_exif_date(file_path)
        
        # из json
        json_creation_time, json_taken_time = get_json_date(file_path)
        
        # из названия файла
        year_from_name = get_year_name(name)

        df.loc[len(df)] = [name, extension, file_path, 
                           video_exif_date, 
                           photo_date, photo_date_orig, photo_date_dig, 
                           json_creation_time, json_taken_time,
                           year_from_name]
df['video_exif_date'] = pd.to_datetime(df['video_exif_date'])

<ipython-input-33-b0b58f583047>:28: RuntimeWarning: ASCII tag contains -1 fewer bytes than specified
  datetime_original = my_image.datetime_original

Wall time: 21min 48s

In [42]:
df.shape

(31561, 10)

In [43]:
df.dtypes

name                          object
extension                     object
path                          object
video_exif_date       datetime64[ns]
photo_date            datetime64[ns]
photo_date_orig       datetime64[ns]
photo_date_dig        datetime64[ns]
json_creation_time    datetime64[ns]
json_taken_time       datetime64[ns]
year_from_name                object
dtype: object

In [44]:
df.dropna(subset=['year_from_name'])

,name,extension,path,video_exif_date,photo_date,photo_date_orig,photo_date_dig,json_creation_time,json_taken_time,year_from_name
537,IMG_2002 copy,.jpg,G:\Google Photo_extr\Takeout\Google Фото\Photo...,NaT,2007-08-01 20:33:50,2007-07-24 15:42:10,2007-07-24 15:42:10,2016-07-24 11:26:06,2007-07-24 14:42:10,2002
553,IMG_2021 copy 2,.jpg,G:\Google Photo_extr\Takeout\Google Фото\Photo...,NaT,2007-08-01 20:18:28,2007-07-24 16:06:07,2007-07-24 16:06:07,2016-07-24 11:26:16,2007-07-24 15:06:07,2021
554,IMG_2021 copy,.jpg,G:\Google Photo_extr\Takeout\Google Фото\Photo...,NaT,2007-08-01 20:18:35,2007-07-24 16:06:07,2007-07-24 16:06:07,2016-07-24 11:26:17,2007-07-24 15:06:07,2021
572,IMG_2049 copy,.jpg,G:\Google Photo_extr\Takeout\Google Фото\Photo...,NaT,2007-08-01 20:56:48,2007-07-25 13:59:58,2007-07-25 13:59:58,2016-07-24 11:26:29,2007-07-25 12:59:58,2049
575,IMG_2051 copy,.jpg,G:\Google Photo_extr\Takeout\Google Фото\Photo...,NaT,2007-08-02 13:56:54,2007-07-25 21:49:54,2007-07-25 21:49:54,2016-07-24 11:26:31,2007-07-25 20:49:54,2051
...,...,...,...,...,...,...,...,...,...,...
29502,IMG_2066 copy,.jpg,G:\Google Photo_extr\Takeout\Google Фото\Поезд...,NaT,2007-08-01 22:47:04,2007-07-25 22:38:00,2007-07-25 22:38:00,2016-07-24 11:35:12,2007-07-25 21:38:00,2066
29504,IMG_2067 copy,.jpg,G:\Google Photo_extr\Takeout\Google Фото\Поезд...,NaT,2007-08-01 22:46:09,2007-07-25 22:38:07,2007-07-25 22:38:07,2016-07-24 11:35:12,2007-07-25 21:38:07,2067
29523,IMG_2087 copy,.jpg,G:\Google Photo_extr\Takeout\Google Фото\Поезд...,NaT,2007-08-01 22:33:52,2007-07-26 10:17:29,2007-07-26 10:17:29,2016-07-24 11:35:12,2007-07-26 09:17:29,2087
29527,IMG_2092 copy,.jpg,G:\Google Photo_extr\Takeout\Google Фото\Поезд...,NaT,2007-08-01 22:31:24,2007-07-26 10:19:46,2007-07-26 10:19:46,2016-07-24 11:35:12,2007-07-26 09:19:46,2092
29530,IMG_2098 copy,.jpg,G:\Google Photo_extr\Takeout\Google Фото\Поезд...,NaT,2007-08-01 22:29:25,2007-07-26 10:58:23,2007-07-26 10:58:23,2016-07-24 11:35:12,2007-07-26 09:58:23,2098

In [72]:
# список всех методов
# my_image.list_all()